.input__container {
    position: relative;
}

.inputIcon {
    position: relative;
    width: 100%;
}

.inputIcon .icon {
    position: absolute;
    left: .75rem;
    top: 50%;
    z-index: 100;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}

.inputIcon .input-field {
    padding-left: 3rem;
}

.input-field {
    width: 100%;
    padding: .75rem;
    outline: 0;
    border: 1px solid var(--clr-accent-100);
    border-radius: 6px;
}

/* input password */
.password__container {
    position: relative;
}

.password__btn {
    position: absolute;
    right: .75rem;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    font-family: var(--ff-base-500);
}

.error-text {
    position: absolute;
    color: red;
    font-size: 12px;
}

.error-field {
    border-color: red;
}

/* input search */
.search__container {
    position: relative;
}

.search__container ul {
    padding-left: 0;
    position: absolute;
    background-color: var(--clr-accent-600);
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    left: 0;
    border-radius: 0 0 6px;
    z-index: 100000;
}

.search__container ul li {
    list-style: none;
    font-size: var(--fs-500);
    font-family: var(--ff-base-500);
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
}

@media (min-width:600px) {
    .error-text {
        font-size: 14px;
    }
}