.homepage .hero .hero__details {
    padding-block: 1.5rem;
    gap: 1.5rem;
}

.homepage .hero .hero__details .hero__title {
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
}

.homepage .hero .hero__details .hero__desc {
    margin-block: 1rem 1.5rem;
}

.homepage .hero .hero__details .flex-container {
    flex-direction: row-reverse;
}

.homepage .hero .hero__img {
    display: none;
}

/* Stats Section */
.homepage .stats .stats__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    margin-top: -1rem;
}

.homepage .stats .stats__container .stats__item {
    list-style: none;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: .5rem;
}

.homepage .stats .stats__container .stats__item .item__title {
    font-size: var(--fs-700);
    font-family: var(--ff-base-500);
}

.homepage .stats .stats__container .stats__item .item__subtitle {
    --fs-600: 20px;

    font-size: var(--fs-600);
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (min-width:600px) {
    .homepage .hero .hero__details .hero__desc {
        max-width: 650px;
    }

    /* Stats Section */
    .homepage .stats .stats__container {
        flex-direction: row;
    }

    .homepage .stats .stats__container .stats__item {
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
}

@media (min-width:950px) {
    .homepage .hero {
        flex-direction: row;
        padding-top: 0;
    }

    .homepage .hero .hero__details {
        margin-block: auto;
    }

    .homepage .hero .hero__details .hero__title {
        margin-top: -1rem;
    }
    
    .homepage .hero .hero__details .hero__desc {
        margin-block: 1.5rem 2rem;
        max-width: 550px;
    }

    .homepage .hero .hero__img {
        width: 100%;
        display: block;
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width:1100px) {
    /* Stats Section */
    .homepage .stats .stats__container {
        margin-left: -1rem;
    }

    .homepage .stats .stats__container .stats__item .item__title {
        font-size: var(--fs-800);
    }
    
    .homepage .stats .stats__container .stats__item .item__subtitle {
        font-size: var(--fs-700);
    }
}