.homepage__main {
    padding-bottom: 80px;
    position: relative;
}

.blankpage {
    min-height: 80vh;
}

.min-height-60 {
    min-height: 60vh;
}

.blankpage .blankpage__inner {
    flex-direction: column;
}

.blankpage__inner img {
    width: 100px;
}

.blankpage__inner h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-600);
}

.blankpage__inner p {
    text-align: center;
    max-width: 300px;
}

/* myFiles Hero */
.myfiles {
    position: relative;
}

.myfiles__hero {
    position: absolute;
    padding: var(--padding);
    gap: 1rem;
    display: flex;
    align-items: center;
    z-index: 2000;
}

.myfiles__hero .folder__path {
    font-family: var(--ff-heading);
    font-size: var(--fs-600);
}

/* my files inner */
.myfiles__inner {
    padding-top: 4.5rem;
}

.folder__container {
    margin-bottom: 2rem;
}

.folder__container .folder__title,
.files__container .files__title {
    font-size: var(--fs-500);
    font-family: var(--ff-heading);
    margin-bottom: 1rem;
}

/* Create Folder Popup */
.createfolder__popup {
    padding: 1rem 0 0;
}

.createfolder__popup h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-600);
    margin-bottom: 1.25rem;
}

.createfolder__popup .input__container{
    margin-bottom: 1.5rem;
}

/* Upload Popup */
.uploadfile__popup {
    padding: 1rem 0 0;
}

.uploadfile__popup .file__name,
.uploadfile__popup .file__details,
.uploadfile__popup .file-container,
.uploadfile__popup .preview-container {
    padding: .5rem .75rem;
    border: 1px solid var(--clr-accent-100);
    border-radius: 6px;
}

.uploadfile__popup .file__name {
    font-size: var(--fs-500);
    margin-top: 1rem;
}

.uploadfile__popup .file__details {
    justify-content: space-around;
    margin-top: .5rem;
}

.uploadfile__popup .input__container {
    display: none;
}

.uploadfile__popup .file-container,
.uploadfile__popup .preview-container {
    margin-top: 1rem;
    width: 100%;
    height: 200px;
}

.file-container .file-label {
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: var(--fs-500);
}

.file-container .file-label svg {
    width: 35px;
    height: 35px;
}

.file-container .error-text {
    position: unset;
}

.preview-container {
    padding: 1rem;
}

.preview-container textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--clr-accent-100);
    outline: 0;
    border: 0;
    resize: none;
}

.preview-container img {
    width: auto;
    height: 100%;
}

@media (min-width:600px) {
    .homepage__main {
        padding-bottom: unset;
    }

    .homepage__main {
        margin-left: 250px;
        margin-top: 100px;
    }

    /* my files inner */
    .myfiles__inner {
        padding-top: 5rem;
    }

    .folder__container {
        margin-bottom: 5rem;
    }

    .folder__container .folder__title,
    .files__container .files__title {
        margin-bottom: 2rem;
    }

    .toast-wrapper{
        position: relative;
        z-index: 888888888888;
    }
}